@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ==========================
  Box model
  ==========================
*/

*,
*:before,
*:after {
   box-sizing: border-box;
}

html,
body {
  margin:0;
  padding:0;
  height:100%;
}

html {
    overflow-y: scroll;
}

/*
  ==========================
  Clearfix
  ==========================
*/


.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/*
  ==========================
  Container
  ==========================
*/

/*.container {
  margin: 0 auto;
  width: 960px;
}*/

.wrapper {
  min-height: 100%;
  position: relative;
}

/*
  ==========================
  Nav
  ==========================
*/

.nav {
  float: right;
  padding: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 16px;
}

.nav a {
  line-height: 24px;
  text-align: right;
  color: black;
  text-decoration: none;
  padding: 0 12px 10px 12px;
	transition: .5s;
	border-bottom: 2px solid white;
	font-weight: 100;
}

.nav a:hover {
  border-bottom: 2px solid black;
}

.nav .active {
	border-bottom: 2px solid black;
}

/*
  ==========================
  Header
  ==========================
*/

.home-top {
	height: 100vh;
	min-height: 400px;
}

header {
	display: block;
	margin-top: 20vh;
	overflow: hidden;
  /*padding-top: 14%;*/
  padding-bottom: 30px;
}

header h1,
header h3 {
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  color: #383838;
}

header h1 {
  font-size: 96px;
	line-height: 108px;
}

header h3 {
  line-height: 80px;
  font-size: 36px;
}

header h3 #word-1 {
  color: #505AEC;
}

header h3 #word-2 {
  color: #AC41D2;
}

header h3 #word-3 {
  color: #FFBB1B;
}

.header-buttons {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.header-buttons .btn {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  margin: 35px 15px 15px 15px;
  border: 2px solid #333;
	border-radius: 0;
  text-transform: uppercase;
	transition: .3s;
}

.header-buttons .btn:hover {
  background: #333;
  color: white;
}

/* Button Style */

.btn {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  margin: 35px 15px 15px 15px;
  border: 2px solid #333;
	border-radius: 0;
  text-transform: uppercase;
	transition: .3s;
}

.btn:hover {
  background: #333;
  color: white;
}

/*
  ==========================
  Footer
  ==========================
*/

.footer {
  margin: 0 auto;
  padding-top: 5px;
  position: absolute;
  bottom: 0;
  height: 75px;
  border-top: 1px solid #ddd;
  text-align: center;
}

footer .copy {
  font-family: 'Raleway', sans-serif;
  color: #383838;
}

/* Social Icons */

.footer-social-icons {
	margin-bottom: 5px;
}

.social-icon {
	color: #fff;
}

ul.social-icons {
	margin-top: 10px;

}

.social-icons li {
	vertical-align: top;
	display: inline;
}

.social-icons a {
	color: #686868;
	text-decoration: none;
}

.fa {
	font-size: 28px;
	padding: 0px 7px 7px 7px;
	-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

.fa-github:hover {
	color: #333;
}

.fa-linkedin:hover {
	color: #007bb5;
}

/*
  ==========================
  Columns
  ==========================
*/

.col-1-3 {
	overflow: auto;
  display: inline-block;
  width: 33.33%;
  padding: 20px;
  vertical-align: top;
}

/*
  ==========================
  Home content
  ==========================
*/

.home-content {
  /*padding-bottom: 75px; /* ght */
	padding-bottom: 100px;
}

.home-content h2,
.home-content p {
  font-family: 'Raleway', sans-serif;
  color: #454545;
}

.home-content h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.home-content p {
  font-weight: 400;
  font-size: 14px;
  padding: 0px 10px;
  line-height: 22px;
}

.home-content b {
	font-weight: bold;
}



.resume-download {
	text-align: center;
}

/*
  ==========================
  About content
  ==========================
*/

.about-top {
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	color: #5f5f5f;
	margin: 30px 0;
}

.about-body {
	padding-bottom: 100px;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	margin-top: 30px;
	font-size: 15px;
	line-height: 24px;
}

.about-hash-name {
  color: #505AEC;
}

.about-body li {
	margin-left: 20px;
}

.about-body b {
	font-weight: 400;
}

.about-body .about-key,
.about-body .about-hash-name {
	font-weight: 600;
}

ul p {
	font-weight: 400;
	color: #40A61B;
}

ul li b {
	font-weight: bold;
	color: #AC41D2;
}

/*
  ==========================
  Portfolio content
  ==========================
*/

.col-item {
	width: 250px;
	display: inline-block;
}

.portfolio-display {
	margin-top: 30px;
}

.portfolio-image {
	width: 100%;
	position: absolute;
}

.portfolio-item {
	margin-bottom: 30px;
	margin-left: 15px;
	margin-right: 15px;
	position: relative;
	height: 250px;
}

.portfolio-item .item-in {
	color: #fff;
	width: 100%;
	height: 100%;
	top: 0;
	text-align: center;
	position: absolute;
	padding-top: 60px;
	background-color: rgba(0, 0, 0, 0.65);
	z-index: 1000;
	font-family: "Oswald", sans-serif;
	font-size: 28px;
	display: none;
}

.portfolio-item .item-in h1 {
	position: relative;
	display: block;
}

.portfolio-item .item-in a {
	position: relative;
	display: inline-block;
	border: 2px solid #fff;
	font-size: 20px;
	color: white;
	padding: 5px 8px;
	top: 50px;
	text-decoration: none;
}

.portfolio-item .item-in a:hover,
.portfolio-item .item-in a:active,
.portfolio-item .item-in a:focus {
	text-decoration: none;
}

.bottom-fix {
	padding-bottom: 100px;
}
